<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateBookCard = (bookCard) => {
  return `
    <div id='${bookCard.id}' class="col-12 col-md-5 col-lg-3 cards-holder" style="padding: 15px;">
      <div class="card" style="margin-top: 15px;height:100%;">
      <img id='${bookCard.id}' src="${bookCard.volumeInfo.imageLinks?.thumbnail || 'https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png' }" class="card-img-top book-card" style="height: 250px;" alt="...">
        <div id='${bookCard.id}' class="card-body book-card">
          <h5 id='${bookCard.id}' class="card-text card-body">${bookCard.volumeInfo.title}</h5>
          <h6 id='${bookCard.id}' class="card-text card-body">Authors:
            </br>${bookCard.volumeInfo.authors || 'Authors not found'}</p>
          <h6 id='${bookCard.id}' class="card-text card-body">Categories:
            </br>${bookCard.volumeInfo.categories || 'Categories not found'}</p>
        </div>
        <button id='${bookCard.id}' type="button" class="btn btn-danger unlike-btn">Unlike this Book</button>
      </div>
    </div>
  `
}



const generatePage = (info) => {
  const $page = $('#books-list')
  if (info.length === 0) {
    $page.html(`<h2 class="text-center mb-3">No Liked Books Found!</h2>`)
  }
  info.forEach(element => {
    console.log(element);
    axios({
      method: 'GET',
      url: `/api/books/show/${element.bookId}`
    }).then((resp) => {
      console.log(resp.data);
      $page.append(generateBookCard(resp.data))
    })
  });

}

$(document).ready(() => {
    axios({
      method: 'GET',
      url:`/api/my/likeslist`
    }).then((resp) => {
      console.log(resp);
      generatePage(resp.data.likedBooks)
    })

  $('#holder').fadeIn(2000)
    $('#books-list').on('click','.unlike-btn',(e) => {
      $(e.target).attr('disabled', true).text('Unliked')
      axios({
        method: 'PUT',
        url:`/api/my/unlike/${e.target.id}`,
    }).then(((resp) => {
      $(e.target).parents(`#${e.target.id}`).fadeOut(800)
    }))
  })


  $('#pages-books-index').on('click','.book-card',(e) => {
    axios({
      method: 'PUT',
      url:`/api/my/record/${e.target.id}`,
    }).then((resp) => {
    window.location.href = `book/${e.target.id}`
    })
  })
})

</script>

<%- contentFor('body') %>
<div id="pages-books-index" class="container" style="display:flex">
    <div class="row">
      <div id='holder'>
        <div id="books-list" class="row d-flex align-items-stretch justify-content-around">
        </div>
      </div>
    </div>
</div>
