<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateBookCard = (bookCard) => {
  return `
    <div class="col-12 col-md-5 col-lg-3" style="padding: 15px;">
      <div class="card" style="margin-top: 15px;height:100%;">
      <img src="${bookCard.volumeInfo.imageLinks? bookCard.volumeInfo.imageLinks.thumbnail : '../../images/img-not-found.jpg' }" class="card-img-top" style="height: 250px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">${bookCard.volumeInfo.title}</h5>
          <p class="card-text">Authors: ${bookCard.volumeInfo.authors || 'Authors not found'}</p>
          <p class="card-text">Categories: ${bookCard.volumeInfo.categories || 'Categories not found'}</p>
        </div>
      </div>
    </div>
  `
}

const generateBookCards = ({ isLoading, bookCards = [] } = {}) => {
  if (isLoading) return `<div class="text-center mb-3">Loading...</div>`
  if (bookCards.length === 0) {
    return `
      <h2 class="text-center mb-3">No Books Found!</h2>
    `
  }
  return `
    <div class="row">
      <div class="">
        <div id="books-list" class="row d-flex align-items-stretch justify-content-around">
          ${bookCards.map((bookCard) => generateBookCard(bookCard)).join('')}
        </div>
      </div>
    </div>
  `
}

const generatePage = (info) => {
  const $page = $('#pages-books-index')
  const $bookCards = generateBookCards(info)
  $page.html('').append($bookCards)
}

$(document).ready(() => {

$('#search-form').on('submit',(e) => {
    e.preventDefault()
    generatePage({ isLoading: true })
    const data = parseFormData(new FormData(e.target))
    const title = data.title? `&${data.title}` : '&notFound'
    const author = data.author? `&${data.author}` : '&notFound'
    const category = data.category? `+${data.category}` : '&notFound'
    const url = `/api/books/search/${data.title}${author}${category}`
    axios({
      method: 'GET',
      url
    }).then((resp) => {
      console.log(resp.data);
      generatePage({ bookCards: resp.data.items})
    })
  })

})
</script>

<%- contentFor('body') %>

<div id="pages-books-index" class="container"></div>
